<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <h1 a href="">User Points</h1>
    <nav>
        <a href="/points">All points</a>
        <a href="/dannon">Points per payer:Dannon</a>
        <a href="/miller">Points per payer: Miller</a>
        <a href="unilever">Points per payer: Unilever</a>
        <a href="spend_points">Use points</a>
    </nav>
  {% block content %}  {% endblock %}
</body>
</html>

