{% extends 'base.html' %}
{% block title %}
Home page
{% endblock %}

{% block content %}
<header>
    <h1 a href="">User Points</h1>
    <nav>
        <a href="">All points</a>
        <a href="">Points per payer</a>
        <a href="">Points per date</a>
        <a href="">Updated points</a>
    </nav>
</header>
<section>
    <header>
        <h2>These are the current points for this user</h2>
    </header>
</section>
<section>
    <ul>
        <li>
            test
        </li>
        <li>
            another test
        </li>
    </ul>
</section>
{% endblock %}


