{% extends 'base.html' %}
{% block title %}
Home page
{% endblock %}

{% block content %}
<header>
</header>
<section>
    <header>
        <h2>Reward points for User</h2>
    
    </header>
</section>
<section>
    <p>Click on the information you would like to access:</p>
    <ul>
        <li>
            <a href="/points">All points</a>
        </li>
        <li>
           <a href="">Points per payer</a>
        </li>
        <li>
            <a href="">Use points</a>
        </li>
        <li><a href="">Update points</a>
        </li>
    </ul>
</section>
{% endblock %}


